@model SneakerShop.ViewModels.RemoveUserVM;


@{
    ViewData["Title"] = "User Management";
}


<style>

    .searchBtn {
        width: 50%; 
        margin-left:auto; 
        margin-right:auto;
        background-color:lightblue;
    }
    .mybtn{
        width: 25%;
        margin-left: auto;
        margin-right: auto;
        background-color: lightblue;
    }
    .card-header{ 

    }

    .custom-select {
        width: auto; /* Adjust this value to your preference */
        max-width: 150px; /* Adjust this value to your preference */
    }
</style>


<body>
    <div class="container">
        <div class="col-sm-5 mx-auto mb-5">
            <form action="userManagement" method="post">
                <div class="input-group">
                    <select class="form-select custom-select" id="method" name="method" onchange="changePlaceholder()">
                        <option value="username">Username</option>
                        <option value="email">Email</option>
                    </select>
                    <input required type="text" class="form-control" id="identifier" name="identifier" placeholder="Enter Username">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                </div>
            </form>
        </div>      
    </div>

   

        <div class="container w-25">

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                @TempData["ErrorMessage"]
            </div>
        }
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                @TempData["SuccessMessage"]
            </div>
        }
        </div>

        @if (Model != null && Model.users.Count() > 0)
        {
            <div class="container w-25">
            @foreach (var user in Model.users)
            {
                if(user.UserName == "admin")
                {
                    continue;
                }
                <div class="card mb-3" style="margin-top: 0.1rem;">
                    <div class="card-header">
                        User Id: @user.Id
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Username: @user.UserName</h5>
                        <p class="card-text">Email: @user.Email</p>
                    </div>
                    <div class="card-footer">
                        <form asp-action="findUserById" asp-route-id="@user.Id" method="get">
                            <button type="submit" class="btn btn-secondary">Show</button>
                        </form>
                    </div>
                </div>
                <br/>   
                <br/>   
            }
            </div>
        }
        else
        {
            <div class="card w-25 mx-auto">
                <div class="card-header">
                    No Users Added Yet                   
                </div>
            </div>
    }
    </body> 


<script>
    function changePlaceholder() {
        var method = document.getElementById("method").value;
        var placeholder = (method === 'username') ? 'Enter Username' : 'Enter Email';
        document.getElementById("identifier").setAttribute('placeholder', placeholder);
    }
</script>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>