@model SneakerShop.ViewModels.RemoveUserVM;


@{
    ViewData["Title"] = "User Management";
}


<style>

    .searchBtn {
        width: 50%; 
        margin-left:auto; 
        margin-right:auto;
        background-color:lightblue;
    }
    .mybtn{
        width: 25%;
        margin-left: auto;
        margin-right: auto;
        background-color: lightblue;
    }
    .card-header{ 

    }

    .custom-select {
        width: auto; /* Adjust this value to your preference */
        max-width: 150px; /* Adjust this value to your preference */
    }
</style>


<body>
    <div class="container">
        <div class="col-sm-5 mx-auto mb-5">
            <form action="userManagement" method="post">
                <div class="input-group">
                    <select class="form-select custom-select" id="method" name="method" onchange="changePlaceholder()">
                        <option value="username">Username</option>
                        <option value="email">Email</option>
                    </select>
                </div>
                
                <div class="form-group">

                    <input required type="text" class="form-control" id="identifier" name="identifier" placeholder="Enter Username">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                </div>

                <br/>
                <button type="submit" class="searchBtn btn btn-block mb-4">Search User</button>
            </form>
                    <div>
            <a class ="mybtn btn btn-block mb-4" asp-action="CreateUser" asp-controller="Dashboard" style="background-color:lightblue">
                Create User <i class="fa-solid fa-user-plus"></i>
            </a>
                    </div>

        </div>      
    </div>

   

        <div class="container w-25">


        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                @TempData["ErrorMessage"]
            </div>
        }
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                @TempData["SuccessMessage"]
            </div>
        }
        </div>

        @if (Model != null && Model.users.Count() > 0)
        {

            <div class="container">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>User Id</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.users)
                        {
                            if (user.UserName == "admin")
                            {
                                continue;
                            }
                            <tr>
                                <td>@user.Id</td>
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>
                                    <form asp-action="findUserById" asp-route-id="@user.Id" method="get">
                                        <button type="submit" class="btn btn-info">Show</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        }
        else
        {
            <div class="card w-25 mx-auto">
                <div class="card-header">

                    No Users Added Yet
                </div>
            </div>
        }

    </body>
</html>


<script>
    function changePlaceholder() {
        var method = document.getElementById("method").value;
        var placeholder = (method === 'username') ? 'Enter Username' : 'Enter Email';
        document.getElementById("identifier").setAttribute('placeholder', placeholder);
    }
</script>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>