@model List<SneakerShop.Models.Product>
﻿@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> signInManager;

<body>
    <div class="container">

        <form asp-controller="Product" asp-action="Search" method="get">
            <div class="container input-group mb-3 w-50">
                <input type="text" class="form-control" name="search" placeholder="Search sneakers">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>

        <div class="row g-3">

            <div>
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        @TempData["ErrorMessage"]
                    </div>
                }

            </div>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <div class="col-md-4 col-12">
                    <div class="card">
                        <img src=@Model[i].ProductPictureURL1 class="card-img-top img-fit" />
                         @if (signInManager.IsSignedIn(User))
                            {
                                @if (@User.IsInRole("Admin"))
                                {
                                <div class="card-img-overlay">
                                    <div class="btn-group" style="z-index: 1;">
                                        <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span style="font-size: 20px; color: #dbe1e8;">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("Edit","Product", new {@id = @Model[i].ProductId})" class="dropdown-item">Edit</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#" onclick="return confirmDelete('@Url.Action("Delete", "Product", new { @id = @Model[i].ProductId })')">Remove Sneaker</a></li>
                                        </ul>
                                    </div>
                                </div>

                                }
                            }
                        <div class="card-body">
                            <h5 class="card-title">@Model[i].ProductName</h5>
                            <p class="card-text">
                                @Model[i].ProductDescription
                            </p>
                            <div class="row">
                                <div class="col text-end style=" style="position: relative; z-index: 2;">
                                    <button href="#" class="btn btn-outline-primary" type="button">Buy Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>



    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/bootstrap.js"></script>

    <script>
        function confirmDelete(url) {
            if (confirm("Are you sure you want to delete this product?")) {
                window.location.href = url;
                return true;
            } else {
                return false;
            }
        }
    </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>


</body>

