
@model List<Product>
﻿@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row g-3">
            @foreach (Product P in Model)
            {
                <div class="col-md-4 col-12">
                    <div class="card">
                        <img src=@P.ProductPictureURL1 class="card-img-top img-fit" />
                        <div class="card-body">
                            <h5 class="card-title">@P.ProductName</h5>
                            <p class="card-text">
                                @P.ProductDescription
                            </p>
                            <div class="row">

                                <div class="col text-end">
                                    <a href="#" class="btn btn-outline-primary">Buy Now</a>
                                </div>
                                @if (signInManager.IsSignedIn(User))
                                {
                                    @if (@User.IsInRole("Admin"))
                                    {
                                        <div class="col text-end">
                                            <a href="@Url.Action("Edit","Product", new {@id = @P.ProductId})" class="btn btn-outline-primary">Edit</a>
                                        </div>
                                        <div class="col text-end">
                                            @*<a href="@Url.Action("Delete","Product", new {@id = @Model[i].ProductId})" class="btn btn-outline-primary">Delete Product</a>*@
                                            <a href="#" onclick="return confirmDelete('@Url.Action("Delete", "Product", new { @id = @P.ProductId })')" class="btn btn-outline-primary">Delete Product</a>

                                        </div>



                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
            }

            <div>
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["ErrorMessage"]
                    </div>
                }
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["SuccessMessage"]
                    </div>
                }
            </div>
        </div>
    </div>



    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/bootstrap.js"></script>
    <script>function confirmDelete(url) {
            if (confirm("Are you sure you want to delete this product?")) {
                window.location.href = url;
                return true;
            } else {
                return false;
            }
        }</script>
</body>

