@model List<SneakerShop.Models.CartItem>




<div class="container mx-auto">
    <h1 class="mb-5">Thank You</h1>
    <table class="table table-bordered table-sm table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
        @{
            decimal sum = 0;
            for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <th scope="row">@(i + 1)</th>
                    <td>@Model[i].product.ProductName</td>
                    <td>@Model[i].product.Price</td>
                    <td>@Model[i].quantity</td>
                </tr>

                sum += @Model[i].product.Price * @Model[i].quantity;
            }
        }
        
        <tr>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>@sum</td>
        </tr>
        </tbody>
    </table>
</div>

