﻿@using Microsoft.AspNetCore.Identity;
@using SneakerShop.Models.Data
@using System.Security.Claims;
@inject SignInManager<Users> signInManager;
@inject SneakerShop.Services.IProductService ProductService;
@inject IHttpContextAccessor HttpContextAccessor;

@{
    int NumOfProducts = 0;
    List<CartItem> cartItems = new List<CartItem>();
    if (signInManager.IsSignedIn(User))
    {
        var userID = User.FindFirstValue(ClaimTypes.NameIdentifier);
        cartItems = ProductService.GetCartItems(userID);
        NumOfProducts = cartItems.Count();
    }
    else
    {
        var cartSession = HttpContextAccessor.HttpContext.Session.GetString("cart");
        if (cartSession != null)
        {
            int cartSessionID = int.Parse(cartSession);
            cartItems = ProductService.GetCartItems(cartSessionID);
            NumOfProducts = cartItems.Count();
        }

    }

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SneakerShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/SneakerShop.styles.css" asp-append-version="true" />
	<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

</head>


<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3 ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SneakerShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
@*                         <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li> *@
                        <li class="nav-item">
                            @if (signInManager.IsSignedIn(User))
                            {
                                @if (@User.IsInRole("Admin"))
                                {
                                    <a class="nav-link" asp-action="Index" asp-controller="Dashboard">
                                    Dashboard
                                    </a> 
                                } 
                            }
                        </li>
                        
                    </ul>
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        <!--Cart Section-->
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title">Your Cart</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                @{if(cartItems.Count > 0)
                {
                    <table class="table table-borderless table-hover">
                        @foreach (var item in cartItems)
                        {
                            decimal actualPrice = item.product.Price;

                            if (item.product.IsOnSale)
                                actualPrice = item.product.Price * (1 - ((decimal)item.product.SalePercentage / 100));

                            <tr>
                                <td>
                                    <img src="@item.product.ProductPictureURL1" width="50" height="auto" />

                                <td>
                                    $@actualPrice
                                </td>
                                <td>
                                        @item.quantity
                                </td>
                                <td>
                                    <a class="btn btn-secondary text-white btn-sm" onclick="AddQuantity" href="@Url.Action("AddOneQuantity", "Cart", new { @productID = @item.ProductId })">
                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                    <a class="btn btn-secondary text-white btn-sm" href="@Url.Action("RemoveOneQuantity", "Cart", new { @productID = @item.ProductId })">
                                        <i class="fa-solid fa-minus"></i>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-danger text-white btn-sm" href="@Url.Action("RemoveFromCart", "Cart", new { @productID = @item.ProductId })">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                    <div>
                    @{
                                var userID = User.FindFirstValue(ClaimTypes.NameIdentifier);
                    }
                            <a class="btn btn-success text-white" href="@Url.Action("Index", "Payment",new {@userID = @userID})">
                            Buy Now
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                        </div>
                    }
                else
                {
                    <p>Your cart is empty</p>       
                }
                }
                

            </div>
        </div>
        <!--Cart Section END-->

        @RenderBody()
    </main>



    <footer class="footer text-white bg-dark">
        <div class="container">
            &copy; 2024 - SneakerShop - <a class="text-white" asp-area="" asp-controller="Home" asp-action="About">About</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
