@model SneakerShop.Models.Product
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> signInManager;


        <div class="container">
            <div class="card">
                <p>
                    <h1>Edit</h1>
                </p>

                <style>
                    .invalidInput ul {
                        list-style: none;
                        list-style-type: none;
                        padding-left: 0;
                        color: red;
                    }
                </style>
                <form action="Edit" method="post">
                    <br />
                    @Html.HiddenFor(Model => Model.ProductId)
                    <br />
                    Product Name:
                    <br />
                    <input asp-for="ProductName" class="form-control" type="text" value="@Model.ProductName" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>


                    <br />
                    Product Description:
                    <br />
                    <input asp-for="ProductDescription" class="form-control" type="text" value="@Model.ProductDescription" />
                    <span asp-validation-for="ProductDescription" class="text-danger"></span>

                    <br />
                    Price:
                    <br />
                    <input asp-for="Price" class="form-control" type="text" value="@Model.Price" />
                    <span asp-validation-for="Price" class="text-danger"></span>


                    <br />
                    Product Picture URL:
                    <br />
                    <input asp-for="ProductPictureURL1" class="form-control" type="text" value="@Model.ProductPictureURL1" />
                    <span asp-validation-for="ProductPictureURL1" class="text-danger"></span>


                    <br />
                    <br />
                    <input asp-for="ProductPictureURL2" class="form-control" type="text" value="@Model.ProductPictureURL2" />
                    <span asp-validation-for="ProductPictureURL2" class="text-danger"></span>

                    <br />
                    <br />
                    <input asp-for="ProductPictureURL3" class="form-control" type="text" value="@Model.ProductPictureURL3" />
                    <span asp-validation-for="ProductPictureURL3" class="text-danger"></span>


                    <br />
                    Quantity:
                    <br />
                    <input asp-for="Qnt" class="form-control" type="text" value="@Model.Qnt" />
                    <span asp-validation-for="Qnt" class="text-danger"></span>


                    <br />
                    Category:
                    <br />
                    <input asp-for="Category" class="form-control" type="text" value="@Model.Category" />
                    <span asp-validation-for="Category" class="text-danger"></span>


                    <br />
                    Size:
                    <br />
                    <input asp-for="Size" class="form-control" type="text" value="@Model.Size" />
                    <span asp-validation-for="Size" class="text-danger"></span>
                    <br />
                    Sale:
                    <br />
                        <input asp-for="SalePercentage" class="form-control" type="number" value="@Model.SalePercentage" />
                        <span asp-validation-for="SalePercentage" class="text-danger"></span>
                    <br />
                    <br />

                    <input type="submit" value="Save Changes" />


                </form>
            </div>

        </div>



@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
}